.scoreBoardContainer {
    width: 100%;
    z-index: 100
}

.bg-grey {
    background-color: #333;
    color: #fff;
}

.jumbotron-content-container{
    margin: auto;
    max-width: 900px;
    height: 100%;
}

hr {
    border: 1px solid #fff;
    width: 100%
}

#scoreBoard {
    width: 20%;
}

.scoreBoardText {
    min-width: 150px;
}

.jumbotron {
    padding: 0;
    background: none;
    background-color: black;
    opacity: 80%;
    color: white;
}